@model WebSampleTool.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App css -->
    <link href="~/Content/Css/App.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
</head>
<body class="authentication-page">
    @Html.Partial("_HeaderOnlyLogo")
    <div class="container body-content">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-5">
                <h1 class="text-center">@ViewBag.Title</h1>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Nhập mật khẩu hiện tại" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nhập mật khẩu mới" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu mới" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-12">
                            <input type="submit" value="Xác nhận" class="btn btn-lg btn-default" />
                        </div>
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</body>
</html>