@model WebSampleTool.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App css -->
    <link href="~/Content/Css/App.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
</head>
<body class="authentication-page">
    @Html.Partial("_HeaderOnlyLogo")
    <div class="container body-content">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-5">
                <h1 class="text-center">@ViewBag.Title</h1>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-12">
                            <h4>Nhập email khôi phục tài khoản.</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nhập email khôi phục" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-12">
                            <input type="submit" class="btn btn-lg btn-dark" value="Tiếp theo" />
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>
</body>
</html>
