@using WebSampleTool.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App css -->
    <link href="~/Content/Css/App.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
</head>
<body class="authentication-page">
    @Html.Partial("_HeaderOnlyLogo")
    <div class="container body-content">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-5">
                <h1 class="text-center">@ViewBag.Title</h1>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Sử dụng tài khoản hoặc email" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", null, new { @class = "text-muted text-right col-xs-6" })
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-12">
                            <button class="btn btn-lg btn-dark" type="submit">@ViewBag.Title</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Bạn chưa có tài khoản? @Html.ActionLink("Tạo mới", "Register")</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>